.add-exercise-start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // align-content: center;
  // justify-content: center;
  padding-top: 9rem;
  // background-color: rgb(206, 203, 203);

  h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 2.8em;
    // text-transform: uppercase;
    // background-color: antiquewhite;
  }

  .add-exercise-form {
    position: absolute;
    bottom: 0;
    // width: 100%;
    // height: 50vh;
    // overflow: scroll;
    // display: flex;
    // flex-wrap: wrap;
    // // flex-direction: row;
    // justify-content: space-around;

    form {
      overflow: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      height: 70vh;

      select {
        // color: #104179;
        // color: #60666d;
        // color: white;
        font-family: "Futura PT W02 Book", Futura, "Trebuchet MS", Arial,
          sans-serif;
      }

      & button {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #ffc719;
        border-color: transparent transparent;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: 0.5s;
        margin-top: 40px;
        letter-spacing: 4px;

        &:hover {
          background: #ffc719;
          color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 5px #ffc719, 0 0 25px #ffc719, 0 0 50px #ffc719,
            0 0 100px #ffc719;
        }

        & span {
          position: absolute;
          display: block;
        }

        & span:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, #ffc719);
          animation: btn-anim1 1s linear infinite;
        }

        @keyframes btn-anim1 {
          0% {
            left: -100%;
          }
          50%,
          100% {
            left: 100%;
          }
        }

        & span:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #ffc719);
          animation: btn-anim2 1s linear infinite;
          animation-delay: 0.25s;
        }

        @keyframes btn-anim2 {
          0% {
            top: -100%;
          }
          50%,
          100% {
            top: 100%;
          }
        }

        & span:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, #ffc719);
          animation: btn-anim3 1s linear infinite;
          animation-delay: 0.5s;
        }

        @keyframes btn-anim3 {
          0% {
            right: -100%;
          }
          50%,
          100% {
            right: 100%;
          }
        }

        & span:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #ffc719);
          animation: btn-anim4 1s linear infinite;
          animation-delay: 0.75s;
        }
      }
    }

    .form-block {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      // align-content: space-between;
      width: 20rem;
      height: 8rem;
      // padding: 3rem 0rem;
      border-radius: 0.4rem;
      margin-bottom: 2rem;
      margin-left: 3rem;
      background-color: white;
      box-shadow: 5px 8px 11px 6px #c0c0c0;
      // background-color: #5995fd;

      .textarea-control {
        width: 18rem;
        height: 4.5rem;
        font-family: "Futura PT W02 Book", Futura, "Trebuchet MS", Arial,
          sans-serif;
      }

      input {
        display: flex;
        flex-direction: column;
        font-family: "Futura PT W02 Book", Futura, "Trebuchet MS", Arial,
          sans-serif;
      }
    }
  }
}
