.chat-container {
  height: 100vh;
  background-image: url(../../src/pics/wallpaper.png);

  .chat-component {
    padding-top: 100px;
    height: 100vh;

    & > .chatting-with {
      color: #333;
      background-color: white;
      text-align: center;
      height: 40px;
      width: 35%;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      margin: auto;
      border-radius: 15px;
    }
    .messages-div {
      // position: fixed;
      position: absolute;
      bottom: 7rem;
      overflow-y: auto;
      overflow-x: hidden;
      width: 100vw;

      .message-div {
        padding-right: 1.5rem;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        // background-color: rgb(255, 129, 228);
        background-color: Beige;
        border-radius: 5px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        // background-color: #f5f5f5;
        background-color: Beige;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: black;
        border: 2px solid black;
        border-radius: 5px;
      }
    }
    & > .input-and-button {
      border-top: solid black 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: absolute;
      bottom: 2rem;

      & > input {
        width: 60%;
        height: 40px;
        font-size: 20px;
        border-radius: 20px;
        padding-left: 10px;
        outline: none;
        border: none;
        margin-top: 1rem;
      }
      .send-chat-btn {
        border: none;
        margin-top: 1rem;

        // & .fa-fa {
        // }
      }
    }
    & > .messages-div {
      height: 70%;
      display: flex;
      flex-direction: column-reverse;
      & > .message-div {
        width: 100vw;
        & > .message {
          margin: 10px;
          padding: 10px;
          max-width: 70%;
          height: fit-content;
          padding: 10px;
          // background-color: rgb(145, 252, 145);
          border-radius: 15px;
          & > .content {
            white-space: normal;
            font-size: 17px;
            word-break: break-word;
          }
          &.sent {
            float: right;
            background-color: PaleGreen;
            color: black;
            // margin-right: 30px;
          }
          &.received {
            float: left;
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
