.live-workout-page {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow-x: hidden;
  & > .header {
    padding-top: 30px;
  }

  & > .workout-details-div {
    & > .show-div {
      & > .timer-div {
        & > .timerContainer {
          border: 3px solid black;
          padding: 20px 70px 20px 70px;
          width: fit-content;
          height: fit-content;
          border-radius: 7px;
        }
        & > .workout-sets {
          font-size: 30px;
        }
        & > .current-exercise-details {
          display: flex;
          justify-self: center;
          flex-direction: column;
          justify-content: center;
        }
      }
      display: flex;
      justify-content: space-evenly;
      margin-top: 50px;
      & > .current-exercise {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        justify-self: center;
        & > .current-exercise-img {
          & > img {
            height: 300px;
          }
        }
      }
    }
    & > .exercises-list {
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
  }

  .exercise {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: black solid 3px;
    width: 200px;
    padding: 5px;
    &.working {
      border: rgb(126, 167, 255) solid 4px;
    }
  }
}
