.calorie-tracker {
  padding-top: 5.5rem;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // color: black;

  .adobe {
    position: absolute;
    top: 0;

    & img {
      width: 100%;
      height: 41vh;
    }
  }

  .meter-and-calendar {
    display: flex;
    // flex-direction: column;
    width: 100%;
    height: 90vh;
    float: left;
    // margin-left: 1rem;
    // justify-content: center;
    // background-color: pink;
    justify-content: space-around;
    align-items: center;

    .meter-and-title {
      display: flex;
      color: black;
      align-items: center;
      flex-direction: column;
      width: 30%;

      .calorie-meter {
        width: 90%;
        margin-bottom: 0.5rem;
        height: 3rem;
      }
      .meter-numbers {
        padding-top: 10px;
      }
      .red {
        color: crimson;
      }
      .green {
        color: rgb(59, 197, 40);
      }
    }
  }

  .meals-container {
    border-radius: 0.4rem;
    width: 100vw;
    height: 30vh;
    display: flex;
    position: absolute;
    bottom: 1rem;
    // left: 20rem;
    justify-content: space-around;
    // flex-direction: column;
    // margin-left: 3rem;
    align-items: center;
    // background-color: rgb(174, 0, 255);
    // background-color: #1456a1;
    // background-color: rgb(51, 102, 255);

    .meal {
      width: 23rem;
      display: flex;
      height: 30vh;
      flex-direction: column;
      background-color: rgb(59, 197, 40);
      text-align: center;
      border-radius: 10px;
      padding: 0.5rem;
    }

    .add-to-container {
      display: flex;
      justify-content: space-between;

      .add-food-button {
        border: none;
        padding: 0;
        margin: 0rem 0.5rem;
      }
    }

    .meal-container {
      display: flex;
      flex-direction: column;
      // background-color: rgb(254, 251, 255);
      color: black;
      // height: 20vh;
      // overflow: scroll;
      height: 13rem;
      overflow: auto;

      .eaten-food-container {
        display: flex;
        flex-direction: row;
        margin: 0.5rem 0rem;
        justify-content: space-between;
        align-items: center;

        & h4 {
          font-size: 0.8rem;
          word-break: break-word;
          width: 6.5rem;
        }
        & p {
          font-size: 0.8rem;
        }

        .delete-eaten-food-button {
          border: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  .chosen-meal {
    border: rgb(59, 197, 40) solid 2px;
  }

  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .popup-add-food {
    position: relative;
    padding: 32px;
    width: 100%;
    height: 60%;
    margin-top: 200px;
    max-width: 640px;
    max-height: 500px;
    background-color: white;
    color: black;
    overflow-y: auto;
    border-radius: 15px;
    .popup-close-button {
      position: absolute;
      top: 16px;
      right: 16px;
      color: black;
      border: none;
    }
    .search-food-input {
      width: 23rem;
      // max-width: 550px;
      height: 40px;
      font-size: 1.5rem;

      &:focus {
        outline-color: rgb(59, 197, 40);
        // outline-color: rgb(51, 102, 255);
      }
    }
    .searched-food-list {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      .searched-food-single {
        border-bottom: solid 1px #ddd;
        padding: 8px;
        // width: max-content;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .pop-up-selected-food {
      // margin-top: 1rem;
      border: rgb(59, 197, 40) solid 2px;
      padding: 0.5rem;
      border-radius: 6px;

      .add-food-button {
        border: none;
        padding: 0;
        margin: 1rem;
        color: rgb(59, 197, 40);

        &:hover {
          color: black;
        }
      }
    }
    .popup-close-button {
      position: absolute;
      border: none;
      top: 16px;
      right: 16px;
    }

    .fa-fa:hover {
      color: black;
    }
  }
  .day-picker {
    & > div {
      color: black;
      align-items: center;
      display: flex;
      width: 40rem;
      // margin-right: 2.5rem;
      // background-color: pink;
      font-size: 0.9rem;
      justify-content: space-between;

      & button {
        font-size: 1rem;
        color: rgb(59, 197, 40);

        &:hover {
          border: none;
          color: black;
        }
      }
    }
  }
}
