.loading-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgb(158, 151, 151);
}
.headline {
  font-size: 1.7rem;
  color: white;
}
#gif {
  margin-top: 2rem;
  align-self: center;
  height: 40vh;
  width: 20vw;
}
