.editable-input-inline {
  position: absolute;
  top: 1.2rem;
  right: 9rem;
  opacity: 0;
}
.editable-input-inline input {
  width: 5rem;
}
.edit-button {
  border: none;
  padding: 0rem 0rem;
}
.edit-button:hover {
  border: none;
}
.fas-fas {
  align-self: center;
  transition: 0.5s;
  font-size: 1.2rem;
}
.fas-fas:hover {
  color: black;
}

.client-list-start
  .ticket-list
  .ticket:hover
  .ticket-header
  .editable-input-inline {
  opacity: 1;
}
